body{
    background-color:yellow;
    height:100vh; 
}


.container{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh; 
}

.svgContainer{
    display:flex;
    height:240px;
    align-items:center;
    justify-content:center;
    width:425px; 
    transition: width 2s, height 2s;
}

.svgContainer:hover{
    width:600px; 
    background-color:blue;
    
}



.arasaka{
    position:relative;
    right:213px;
    bottom:10px;
}


@keyframes throw{
    0% {transform: translate(0px) rotate(0deg)};
    50% {transform: translate(250px) rotate(180deg)};
    100% {transform: translate(500px) rotate(360deg)};
}



.throwButton:checked ~ .svgContainer{
    animation: throw 1s linear; 
    animation-fill-mode: forwards; 
}

.throwButton{
    height:100vh;
    width:100vw;
    cursor:pointer;
    opacity:0;
    position:absolute;
}